[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
environs = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
markdown = "*"
celery = "*"
drf-yasg = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.10"
